<div class="container">

  <div class="row container">
    <h1>Get In Touch</h1>
  </div>

  <div class="row">
    <div class="google-maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40312.369143160075!2d-0.214195466940368!3d50.83999740979698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48758553f34181db%3A0x68fbeacf34e3172b!2sHove%2C+The+City+of+Brighton+and+Hove%2C+UK!5e0!3m2!1sen!2sau!4v1464693672711" width="600" height="450" frameborder="0" style="border:0"></iframe>
    </div>

    <h5 class="col s12 m6">It's The 21st Centruy, Take Your Pick How!</h5>

    <p class="col s12 m6">I am currently based in Hove, but I am looking for work in both London and the south coast.</p>

    <p class="col s12 m6">If you want to get in you can find all my contact details on my LinkedIn page, which you can go to below.</p>

  </div>
</div>
