<h1>Parrallax image here</h1>

<h1>Front End Developer</h1>

<h3>About Me?</h3>

<p>After trying (and not enjoying!) the coroporate world in IT recruitment, I started playing around with development with a friend who was a rails dev. After doing the standard Code Academy and Code School, I joined General Assembly to get some formal training in the industry. While on the course, I realised that I prefer front end development and design to working on the back end.</p>

<p>Now that I have finished the GA course, I am looking for a jr front end position to further my HTML, CSS and Javascript skills.</p>
