<main>
  <div class="section">
    <div class="row container">
      <h1>Portfolio</h1>

      <h1>World Stadiums Guide</h1>

      <img src="assets/wsg.png" alt="" class="portfolio-image s5">

      <p class="portfolio-text s6">During our second project, I was tasked with making a back end restful and responsive app that would allow users to sign up, login and contribute to the community. This was done in  five days.</p>

      <p class="portfolio-text">Using Sinatra to run the back end,  this took care of the routing and logging in aspects. The app was built on top of a PostgreSQL database and image uploads were stored on AWS. Carrierwave and Mini Magik were used to make sure that the images would always be the correct size for the styling of the app. Styling was done using Materialise and finally, Trello was used to manage the projects workflow. This was then deployed on Heroku.</p>

      <p class="portfolio-text">Click <a href="https://worldstadiumsguide.herokuapp.com/">here</a> to check it out</p>

      <h3>Image here</h3>

      <h1>Asteroids</h1>

      <p>For our final project, we were allowed to create our own brief and build what we wanted. I decided to test my front end and JS skills by building a game using Phaser. This would allow the user to control a sprite, collect stars to gain points while avoiding the baddies.</p>

      <p>I used Trello to manage the workflow of the project and spent two days researching Phaser and deciding upon the best way to build the game. In doing so I learnt about Physics engines and the different ways that users can control a sprite from a mouse and keyboard.</p>

      <p>Click <a href="https://joshsutcliffe.github.io/projectBlobs/">here</a> and avoid the asteroids!</p>

      <h3>Image here</h3>

      <h1>Asteroids With Shooting</h1>

      <p>After finishing the asteroid style game, I added in the ability to shoot the baddies. Happy hunting!</p>

      <p>Click <a href="https://joshsutcliffe.github.io/phaserShootingGame/">here</a> to hunt them down!</p>

    </div>
  </div>
</main>
